body{
    width: 100%;
    
}
#parent {
    height: 380px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px !important;
    display: flex;
    align-items: center;
    background: linear-gradient(white, rgb(253, 238, 225));
}

#child1 {
    height: 370px;
    width: 45%;
    background-color: rgb(255, 250, 242);
    background: linear-gradient(white, rgb(254, 243, 234));
    border-radius: 5px;
    color: #1b2437;
    box-sizing: border-box;
    text-align: left;
    border-top: 1px solid rgb(253, 224, 197);
}

#child1>img {
    height: 160px;
    padding-top: 20px;
    /* width: auto; */
    margin-left: 70px;
    /* margin-top: 50px; */
    margin-bottom: -10px;
}

#child1>h2 {
    text-align: start;
    margin-left: 70px;
    font-size: 27px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

#child1>p {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: -15px;
    padding-bottom: 0px;
    text-align: left;
    color: #26282c;
    font-size: 18px;
}

#child2 {
    height: 430px;
    width: 50%;
    border: 1px solid #dbe3f4;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 80px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

#child2>div {
    border: 1px solid #dbe3f4;
    border-radius: 10px;
    line-height: 5px;
    padding-left: 15px;
}

#child2>div:hover {
    cursor: pointer;
    margin: -5px;
}

#child2 h4 {
    color: #1b2437;
    font-weight: 500;
    padding-top: 10px;
    text-align: left;
}

#child2 p {
    color: #444c5e;
    padding-top: 0px;
    text-align: left;
    font-size: 15px;
}

