.abody{
    display: flex;                                    /*justify-content works on main axis, 
                                                         align item works along cross-axis*/
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 16px;  
    flex-direction: column;   
    background-color: white;
    border-radius: 16px;  
    border: 1px !important;             
}

.itembox{
    display: flex;
    flex-direction: column;
    width: 752px;
    border: 1px !important;
}

.itembox .topportion{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 752px;
   height: 40px;
   border: 1px !important;
}

.itembox .topportion .labelportion{
   
}


.itembox .topportion .buttonportion{
   background-color: transparent;
   color: blue;
   outline: none;
   height: 32px;
}

.itembox .belowportion{
  margin-top: 8px;
  text-align: left;
}



 /* .abody {
    display: flex;
    align-items: flex-start;
    background: blue;
}

.itembox {
    display: flex;
    flex-direction: column; /* Stack children vertically */
  /*  width: 752px;
}

.topportion {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.belowportion {
    margin-top: 8px; /* Add spacing between top and below portions */
   /* text-align: left;
} */
